/* Enter your custom styles here */

#__panel0-header {
    color: blue;
}

#application-comexampledocumentation-display-component---Main--page-title-inner {
    margin-left: 598px;
}

#__panel0-header {
    background-color: aquamarine;
}

#__title0-inner {
    color: blue;
}

#__toolbar0 {
    background-color: aquamarine;
}

#__item3-content > span {
    color: blue;
}

#__item3 > td.sapMGHLICell {
    background-color: aquamarine;
}

#__item4-content > span {
    color: blue;
}

#__item4 > td.sapMGHLICell {
    background-color: aquamarine;
}