/* Enter your custom styles here */
/* #__status5 {
    margin-top: 51px;
}

#__attribute0 {
    margin-top: 141px;
    margin-left: -534px;
}

#__button0 {
    margin-left: 292px;
}

#__status1-text {
    margin-top: -24px;
    margin-left: 74px;
}

#__status0-text {
    font-size: 24px;
}

#__text2 {
    text-align: left;
    font-size: 22px;
    color: green;
}

#__attribute1 {
    margin-left: -528px;
} */

#__status7-title {
    margin-top: 123px;
    margin-left: -529px;
}

#__status8-text {
    margin-left: -522px;
    margin-top: 10px;
    font-size: 19px;
    color: green;
}

#__status1-text {
    margin-top: -20px;
    margin-left: 56px;
}

#__status0-text {
    font-size: 17px;
}

#__status5{
    margin-top: 40px;
}

#__status6 {
    margin-top: 8px;
}

#__button0 {
    margin-left: 384px;
}